<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Terms of Service</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>I. Process of Work</h3>
      <p>
        Preliminary sketches will be sent to your email for approval. Once consultation and payment is complete, I will continue to complete the order. If changes to sketches are needed, submit all responses within your order's "additional requests" section.
      </p>
      <p>
        There are <strong>NO REFUNDS</strong>.
      </p>
      <p>
        The completed emotes will be sent to the email that you provide.
        <br />Twitch now auto-sizes emotes, however I will still send you three files for each emote in the following dimensions:
        <strong>112 x 112 px , 56 x 56 px , 28 x 28 px</strong>
      </p>
      <h3>II. Before Ordering</h3>
      <h5>Pricing and Payment</h5>
      <p>
        Emotes are <strong>$20 CAD or $17 USD each</strong>. If you live elsewhere, an extra conversion fee will be applied according to PayPal’s rates.
      </p>
      <p>
        Payment will be sent via PayPal to my e-mail: kadibunny@gmail.com. This website will consolidate the payment but all transactions are handled through PayPal.
      </p>
      <p>
        Interact E-Transfer is acceptable payment for <strong>Canadian clients only</strong>.
      </p>
      <h5>Descriptions and References</h5>
      <p>
        Make sure you are as descriptive as possible when submitting your order to make sketching easier for me, and for the emotes to be closer to what you’d like! Upload a reference photo of yourself, characters, etc.
      </p>
      <h5>Restrictions on Commissions</h5>
      <ul>
        <li>No copies of other artists' work.</li>
        <li>No political, sexual, religious, or offensive art.</li>
        <li>No material that infringes the trademark, copyright, or any other rights of any third party without permission.</li>
      </ul>
      <h3>III. After You've Ordered</h3>
      <p>
        Completed files are for personal use only! This means you may not use them to make profit such as re-selling or using them to create other merchandise for sales.
      </p>
      <p>
        I will continue to hold the rights to all my works completed. This includes using them for promotional and portfolio purposes to help me grow my business!
      </p>
      <h3>IV. Premade Emotes</h3>
      <p>
        The <a href="https://ko-fi.com/kadibunny/shop" target="_blank">Premade Emote shop</a> allows anyone to purchase the emotes available, meaning that they will not be unique to your channel. There is no customizing or changing these emotes either, head to the <a href="commissions">commissions page</a> if you would like something specific!
      </p>
    </div>
  </div>
</div>

