<app-navigation></app-navigation>
<div class="row">
  <div class="col text-center">
    <h3>Your Account</h3>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 ">
    <div class="form-group">
      <label for="username" class="form-label mt-4">Username</label>
      <input type="text" [(ngModel)]="account.username" readonly class="form-control" id="username" aria-describedby="the user's name in person or in game" placeholder="Username or Name">
      <span class="text-muted i">Note: usernames may not be changed at this time.</span>
    </div>

    <div class="form-group">
      <label for="email" class="form-label mt-4">Email address</label>
      <div class="alert alert-success" *ngIf="successfullyUpdatedEmail">
        Your email has been updated!
      </div>
      <input type="email" [(ngModel)]="account.email" class="form-control" id="email" aria-describedby="the user's email" placeholder="Email">
      <div class="padding-top">
        <button type="button" class="btn btn-info w-100" (click)="updateEmail()">Update</button>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Password</label>
      <div class="alert alert-success" *ngIf="successfullyResetPassword">
        Your password has been reset!
      </div>
      <div class="padding-bottom" *ngIf="isResettingPassword">
        <input type="password" [(ngModel)]="password" class="form-control" id="password" aria-describedby="the user's new password" placeholder="Password">
      </div>
      <div class="padding-bottom" *ngIf="isResettingPassword">
        <input type="password" [(ngModel)]="confirmPassword" class="form-control" id="confirmPassword"
             aria-describedby="confirm the user's new password" placeholder="Confirm Password">
      </div>
      <div class="d-block btn btn-info" (click)="resetPassword()">Reset Your Password</div>
    </div>
    <div class="form-group padding-top">
      <a class="w-100 btn btn-secondary" href="logout">Logout</a>
    </div>
  </div>
</div>
